<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="hundouluoXml" class="com.nexusunsky.spring.xml.Hundouluo"
          c:name="hundouluoXml"
          c:content="Two brothers hit flights"/>

    <bean id="xiaoBaWangXml" class="com.nexusunsky.spring.xml.XiaoBaWang">
        <constructor-arg ref="hundouluoXml"/>
    </bean>

    <!--<bean id="xiaoBaWangXmlC" class="com.nexusunsky.spring.xml.XiaoBaWang"-->
    <!--c:myLove-ref="hundouluoXml"/>-->

</beans>